// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.category-main-container {
  position: relative;
  bottom: 0;
  margin: 0;

  
  .category-title {
    margin: 10px
  }
  
  .articles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .single-article{
      display: flex;
      width: 50vw;
      height: 40vh;

      .article-item {
        flex: 1;
      }

      .article-text {
        position: relative;
        text-align: justify;

        .text-item {
          position: absolute;
          left: 10px;
          right: 10px;
        }

        .category-name-box {
          display: inline-block;
          top: 12px; 
          color: #fd6000;
          border-bottom: 3px solid #fd6000;
          right: auto;
        }

        .article-title-box {
          display: inline-block;
          top: 45px; 
          font-weight: 800;
        }

        .body-box {
          top: 65px; 
        }

        .read-more-box {
          bottom: 10px;
          
          a {
            color: #fd6000;
          }
          
        }

      }

      .article-image {
        width: 25vw;
        background-size: cover;
        overflow: hidden;
      }
    }
  }
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #4e443e;
  height: 12vh;
  padding: 0 30px;

  .logo-area {
    display: flex;
    .logo-text {
      font-size: x-large;
    }
  }

  .links-copyright {
    font-size: small;

  }

  .social-contact {
    display: flex;
    align-items: center;

    .connect { 
      font-size: small;
      margin-right: 5px 
    }
    
    .icons{
      font-size: 19px;
      color: #4e443e;
      background-color: #fd6000;
      text-align: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin: 0 5px;
      
      a {color: #4e443e }
    }
  }


  a {
    color: #fd6000;
  }
}