<div class="logo-area">
  <div class="logo-text">
    MounTAinsTyle
  </div>
  <%= image_tag "mountains.png", alt: "Mountain Style Logo" %>
</div>

<div class="links-copyright">
  <a href="#">Privacy policy</a>  
  <a href="#">Terms and Conditions</a>
  <span>Copyright 2020. All rights reserved</span>
</div>

<div class="social-contact">
  <span class = "connect">Connect with us: </span>
  <div class="icons">
    <a href="#">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
  <div class="icons">
    <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
  <div class="icons">
    <a href="#">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </div>
</div>